body {
  font-family: 'Lato', sans-serif;
  background: url('../images/bg.png') black no-repeat center center fixed;
  background-size: cover;
  color: #fefefe;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h2 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.1em;
  letter-spacing: 0.2em;
}

.layout {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.illustration {
  position: relative;
}

.illustration img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.illustration .eye {
  top: calc(50% - 10px);
  left: calc(50% + 10px);
  transform: translate(-50%, -50%);
}

footer {
  margin: 2em auto 0;
}

.social {
  display: flex;
  justify-content: space-between;
}

.social img {
  width: 48px;
  margin: 0 1em;
}

.lights {
  animation-name: spin;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    position: absolute;
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 480px) {
  .layout {
    justify-content: space-between;
  }

  header {
    margin: 1em;
  }

  .logo img {
    width: 100%;
  }

  footer {
    margin-bottom: 2em;
  }

  .social img {
    width: 48px;
  }
}
